[mysqld]

# Turn this off, it cuts memory consumtion in half.
performance_schema = 0

###
 # And finally, very very importantly, unless you specifically intend to use
 # multiple machines in a master/slave configuration to handle your databases,
 # you should disable binary logging by commenting it out with a ‘#’ character, like so:
 #
 # https://codedmemes.com/lib/configure-mysql-os-x/
 ##
log-bin = mysql-bin
