[mysqld]

# Turn this off, it cuts memory consumtion in half.
performance_schema = 0

###
 # And finally, very very importantly, unless you specifically intend to use
 # multiple machines in a master/slave configuration to handle your databases,
 # you should disable binary logging by commenting it out with a ‘#’ character, like so:
 #
 # https://codedmemes.com/lib/configure-mysql-os-x/
 ##
log-bin = mysql-bin

###
 # Memory Optimizations
 #
 # https://github.com/alexanderkoller/low-memory-mysql/blob/master/low-memory-my.cnf
 ##
innodb_buffer_pool_size=5M
innodb_log_buffer_size=256K
query_cache_size=0
max_connections=10
key_buffer_size=8
thread_cache_size=0
host_cache_size=0
innodb_ft_cache_size=1600000
innodb_ft_total_cache_size=32000000
