/*
 * Variables for devtools
 *
 * @see https://developer.mozilla.org/en-US/docs/Tools/DevToolsColors
 * @see https://github.com/benfaerber/one-monokai-firefox-devtools
 */
:root.theme-dark {

		/*
		 * Chrome colors
		 */
	--theme-tab-toolbar-background: #353636 !important;
	--theme-toolbar-background: #353636 !important;
	--theme-selection-background: #353636 !important;
	--theme-selection-color: #f5f7fa !important;
	--theme-splitter-color: #000000 !important;
	--theme-comment: #706e73 !important;

		/*
		 * Content Colors
		 */
	--theme-body-background: #212121 !important;
	--theme-sidebar-background: #212121 !important;
	--theme-contrast-background: #212121 !important;

		/*
		 * Text Colors
		 */
	--theme-body-color: #d5d2d5 !important;
	--theme-body-color-alt: #d7dde6 !important;
	--theme-content-color1: #d5d2d5 !important;
	--theme-content-color2: #d5d2d5 !important;
	--theme-content-color3: #d5d2d5 !important;

		/*
		 * Highlight Colors
		 */
	--theme-highlight-blue: #5ad4e6 !important;
	--theme-highlight-purple: #948ae3 !important;
	--theme-highlight-pink: #fc618d !important;
	--theme-highlight-red: #fc618d !important;
	--theme-highlight-orange: #fd9353 !important;
	--theme-highlight-lightorange: #fd9353 !important;
	--theme-highlight-green: #7bd88f !important;
	--theme-highlight-bluegrey: #5ad4e6 !important;
	--theme-highlight-yellow: #fce566 !important;
}

/* New Tab Page */
@-moz-document url(chrome://browser/content/browser.xul), url(about:newtab), url(about:home), url(about:preferences) {
	body {
		--newtab-background-color: #191919 !important;
		--newtab-border-primary-color: #4E4E4C !important;
		--newtab-border-secondary-color: #363636 !important;
		--newtab-card-background-color: #000 !important;
		--newtab-contextmenu-background-color: #191919 !important;
		--newtab-element-active-color: rgba(215, 215, 219, 0.6) !important;
		--newtab-element-hover-color: #12120F !important;
		--newtab-icon-primary-color: rgba(243, 243, 242, 0.8) !important;
		--newtab-inner-box-shadow-color: rgba(255, 255, 255, 0.1) !important;
		--newtab-modal-color: #000 !important;
		--newtab-overlay-color: rgba(18, 18, 15, 0.8) !important;
		--newtab-search-border-color: rgba(249, 249, 250, 0.02) !important;
		--newtab-search-dropdown-color: #000 !important;
		--newtab-search-dropdown-header-color: #060605 !important;
		--newtab-search-icon-color: rgba(243, 243, 242, 0.4) !important;
		--newtab-section-active-contextmenu-color: #F3F3F2 !important;
		--newtab-section-header-text-color: #8C8C8C !important;
		--newtab-section-navigation-text-color: #8C8C8C !important;
		--newtab-snippets-background-color: #000 !important;
		--newtab-text-conditional-color: #B5B5B0 !important;
		--newtab-text-primary-color: #F3F3F2 !important;
		--newtab-text-secondary-color: #8C8C8C !important;
		--newtab-textbox-background-color: #191919 !important;
		--newtab-textbox-border: rgba(243, 243, 242, 0.2) !important;
		--newtab-textbox-focus-boxshadow: 0 0 0 1px #0060DF, 0 0 0 4px rgba(10, 132, 255, 0.3) !important;
		--newtab-topsites-background-color: rgba(255, 255, 255, 0.6) !important;
		--newtab-topsites-label-color: #F3F3F2 !important;
		--trailhead-cards-background-color: #191919 !important;
		--trailhead-header-text-color: #D4DEA9 !important;
	}
}

/* Most screens in FF */
@media (prefers-color-scheme: dark) {
	:host,
	:root {

		--in-content-page-background: #191919 !important;
		--in-content-box-background: #292929 !important;
		--in-content-box-background-odd: #191919 !important;
		--in-content-box-info-background: #191919 !important;
		--in-content-button-background: #292929 !important;
		--in-content-button-background-hover: #292929 !important;
		--in-content-button-background-active: #191919 !important;
		--in-content-primary-button-text-color: #191919 !important;
		--in-content-danger-button-background: #292929 !important;
		--in-content-danger-button-background-hover: #ffbdc5 !important;
		--in-content-danger-button-background-active: #292929 !important;
		--in-content-table-background: #191919 !important;
	}

	@media not (prefers-contrast) {
		:root[dialogroot],
		:host(dialog) {
			--in-content-page-background: #191919;
		}
	}
}