@-moz-document url(chrome://browser/content/browser.xhtml){
	#personal-bookmarks .bookmark-item:not([container]) .toolbarbutton-icon {
		display: none !important;
	}
}

#TabsToolbar {
	background: #1E1E1E;
}

.tab-label {
	margin-block: 0 !important;
	margin-top: -2px !important;
}

.tabbrowser-tab {
	--lwt-tab-line-color: none;
	--lwt-selected-tab-background-color: #363636;
}

.tab-background,
#tabs-newtab-button,
#tabs-newtab-button:hover {
	border-radius: 0 0 3px 3px !important;
	border-top-right-radius: 0 !important;
	border-top-left-radius: 0 !important;
	margin-right: 0 !important;
	margin-left: 0 !important;
	margin-bottom: 2px !important;
	margin-top: 0 !important;
}

.tabbrowser-tab:not( [selected=true] ):not( [multiselected=true] ) .tab-background {
	background-color: color-mix( in srgb, currentColor 0%, transparent);
}