
/* Get the tab height like a normal tab on macos. */
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container,
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-fit {
	--editor-group-tab-height: 28px;
}

/* Show the [X] button on the left side */
.monaco-workbench .part.editor>.content .editor-group-container.active>.title .tabs-container>.tab {
	flex-direction: row-reverse;
	padding-left: 0;
	padding-right: 10px;
}